<aside>
  <div class="summary">
    <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
    <div class="summary-total">
      <div class="total-title">Total</div>
      <div class="total-value final-value" id="basket-total"><%= number_to_currency(@cart.cart_items.sum { |item| item.quantity*item.product.price }, unit: "€") %></div>
    </div>
    <div class="summary-checkout">
      <button class="checkout-cta">Go to Secure Checkout</button>
    </div>
  </div>
</aside>